<!DOCTYPE html>
<html>
  <head>
    <title>WpTodo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'layouts/header' %>

  <body>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-info alert-white rounded">
          <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
          <div class="icon"><%= fa_icon "info-circle" %></div>
          <strong>Success!</strong>
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
